bind-interfaces
listen-address={{ data['master_nodes'][0]['ip'] }}
resolv-file=/etc/resolv.dnsmasq
address=/svc/{{ data['master_nodes'][0]['ip'] }}
address=/master.{{ data['network']['domain'] }}/{{ data['master_nodes'][0]['ip'] }}
address=/infra.{{ data['network']['domain'] }}/{{ data['infra_nodes'][0]['ip'] }}
address=/node.{{ data['network']['domain'] }}/{{ data['app_nodes'][0]['ip'] }}
address=/apps.ocp.{{ data['network']['domain'] }}/{{ data['infra_nodes'][0]['ip'] }}
