127.0.0.1   localhost localhost.localdomain localhost4 localhost4.localdomain4
::1         localhost localhost.localdomain localhost6 localhost6.localdomain6

{% for type in data -%}
{% for server in data[type] -%}
{{ server['ip'] }}        {{ server['fqdn'] }}       {{ server['hostname'] }}  
{% endfor %}
{% endfor %}
