# Create an OSEv3 group that contains the masters, nodes, and etcd groups
[OSEv3:children]
masters
nodes
etcd

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
ansible_ssh_user=ansible
ansible_become=true
openshift_disable_check=disk_availability,docker_storage,memory_availability
openshift_deployment_type=origin
os_firewall_use_firewalld=True
openshift_master_default_subdomain=apps.ocp.{{ data['network']['domain'] }}
openshift_enable_service_catalog=false


# uncomment the following to enable htpasswd authentication; defaults to AllowAllPasswordIdentityProvider
openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]

# host group for masters
[masters]
{% for master in data['master_nodes'] -%}
{{ master['fqdn'] }}
{% endfor %}

# host group for etcd
[etcd]
{% for master in data['master_nodes'] -%}
{{ master['fqdn'] }}
{% endfor %}

# host group for nodes, includes region info
[nodes]
{% for server in data['master_nodes'] -%}
{{ server['fqdn'] }}   openshift_node_group_name='node-config-master'
{% endfor %}
{% for server in data['infra_nodes'] -%}
{{ server['fqdn'] }}   openshift_node_group_name='node-config-infra'
{% endfor %}
{% for server in data['app_nodes'] -%}
{{ server['fqdn'] }}   openshift_node_group_name='node-config-compute'
{% endfor %}




